<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0-beta1" targetFramework="net40-client" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net40-client" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net40" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net40" />
  <package id="MahApps.Metro" version="1.6.0-alpha009" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40-client" />
</packages>